@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-roboto;
  @apply bg-neutral-800;
  @apply text-neutral-50;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@keyframes shimmer {
  to {
    background-position: 0%;
  }
}

.shimmer {
  background: linear-gradient(to right, #e4e4e4 40%, #fafafa 50%, #e4e4e4 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}
